[Unit]
Description=SAD music audio daemon

[Service]
ExecStart=/usr/local/bin/sad
ExecStartPost=/usr/local/bin/sadp -add
Restart=on-failure

[Install]
WantedBy=default.target
